In [22]:
import numpy as np
import scipy as sp
import pandas as pd

In [23]:
data_set = pd.read_csv('data/segmentation_data.csv')

In [24]:
data_set.describe()

,REGION-CENTROID-COL,REGION-CENTROID-ROW,REGION-PIXEL-COUNT,SHORT-LINE-DENSITY-5,SHORT-LINE-DENSITY-2,VEDGE-MEAN,VEDGE-SD,HEDGE-MEAN,HEDGE-SD,INTENSITY-MEAN,RAWRED-MEAN,RAWBLUE-MEAN,RAWGREEN-MEAN,EXRED-MEAN,EXBLUE-MEAN,EXGREEN-MEAN,VALUE-MEAN,SATURATION-MEAN,HUE-MEAN
count,213.000000,213.000000,211.000000,211.000000,211.000000,211.000000,211.000000,211.000000,211.000000,210.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,209.000000,207.000000,207.000000
mean,123.486918,121.575631,9.624013,0.583992,-0.137441,2.124539,5.627652,3.258557,11.584053,36.479925,32.570973,43.548645,33.877193,-12.283891,20.649123,-8.365231,422.447103,0.425066,-1.352063
std,74.552603,58.928763,9.064307,8.360049,2.088885,4.279816,43.412776,10.641962,97.161070,38.277413,35.156634,43.392683,36.648786,11.519894,18.737398,11.024068,5469.337093,0.228211,1.540556
min,0.324556,-2.144507,9.000000,0.000000,-30.333334,0.000000,-13.666667,0.000000,0.000000,-2.326783,0.000000,0.000000,0.000000,-48.222220,-9.666667,-30.555555,0.000000,0.000000,-2.530950
25%,60.000000,81.000000,9.000000,0.000000,0.000000,0.666667,0.392593,0.777779,0.405967,6.444445,7.000000,8.222222,3.777778,-18.111110,4.111111,-15.777778,9.444445,0.276076,-2.186982
50%,123.000000,121.000000,9.000000,0.000000,0.000000,1.222222,0.827760,1.388889,0.907417,21.074074,18.333334,26.777779,19.888890,-10.333333,19.444445,-9.888889,27.555555,0.368848,-2.042422
75%,189.000000,173.000000,9.000000,0.000000,0.000000,1.916667,1.674422,2.611110,1.975785,51.074073,45.666668,63.777780,46.222220,-4.666666,34.333332,-3.666667,63.777780,0.541662,-1.472733
max,252.000000,250.000000,140.666670,121.444440,0.222222,44.000000,572.996400,140.666670,1386.329200,143.444440,136.888890,150.888890,142.555560,5.777778,78.777780,21.888890,79111.000000,1.000000,2.789800

In [25]:
data_set = data_set.dropna()

In [26]:
data_set.head()

,y,REGION-CENTROID-COL,REGION-CENTROID-ROW,REGION-PIXEL-COUNT,SHORT-LINE-DENSITY-5,SHORT-LINE-DENSITY-2,VEDGE-MEAN,VEDGE-SD,HEDGE-MEAN,HEDGE-SD,INTENSITY-MEAN,RAWRED-MEAN,RAWBLUE-MEAN,RAWGREEN-MEAN,EXRED-MEAN,EXBLUE-MEAN,EXGREEN-MEAN,VALUE-MEAN,SATURATION-MEAN,HUE-MEAN
0,BRICKFACE,140.0,125.0,9.0,0.0,0.0,0.277778,0.062963,0.666667,0.311111,6.185185,7.333334,7.666666,3.555556,3.444444,4.444445,-7.888889,7.777778,0.545635,-1.121818
1,BRICKFACE,188.0,133.0,9.0,0.0,0.0,0.333333,0.266667,0.500000,0.077778,6.666666,8.333334,7.777778,3.888889,5.000000,3.333333,-8.333333,8.444445,0.538580,-0.924817
2,BRICKFACE,105.0,139.0,9.0,0.0,0.0,0.277778,0.107407,0.833333,0.522222,6.111111,7.555555,7.222222,3.555556,4.333334,3.333333,-7.666666,7.555555,0.532628,-0.965946
3,BRICKFACE,34.0,137.0,9.0,0.0,0.0,0.500000,0.166667,1.111111,0.474074,5.851852,7.777778,6.444445,3.333333,5.777778,1.777778,-7.555555,7.777778,0.573633,-0.744272
4,BRICKFACE,39.0,111.0,9.0,0.0,0.0,0.722222,0.374074,0.888889,0.429629,6.037037,7.000000,7.666666,3.444444,2.888889,4.888889,-7.777778,7.888889,0.562919,-1.175773

In [27]:
test_set = pd.read_csv('data/segmentation_test.csv')

In [28]:
test_set.head()

,y,REGION-CENTROID-COL,REGION-CENTROID-ROW,REGION-PIXEL-COUNT,SHORT-LINE-DENSITY-5,SHORT-LINE-DENSITY-2,VEDGE-MEAN,VEDGE-SD,HEDGE-MEAN,HEDGE-SD,INTENSITY-MEAN,RAWRED-MEAN,RAWBLUE-MEAN,RAWGREEN-MEAN,EXRED-MEAN,EXBLUE-MEAN,EXGREEN-MEAN,VALUE-MEAN,SATURATION-MEAN,HUE-MEAN
0,GRASS,110.0,189.0,9,0.0,0.0,1.000000,0.666667,1.222222,1.186342,12.925926,10.888889,9.222222,18.666668,-6.111111,-11.111111,17.222221,18.666668,0.508139,1.910864
1,GRASS,86.0,187.0,9,0.0,0.0,1.111111,0.720082,1.444444,0.750309,13.740741,11.666667,10.333334,19.222221,-6.222222,-10.222222,16.444445,19.222221,0.463329,1.941465
2,GRASS,225.0,244.0,9,0.0,0.0,3.388889,2.195113,3.000000,1.520234,12.259259,10.333334,9.333334,17.111110,-5.777778,-8.777778,14.555555,17.111110,0.480149,1.987902
3,GRASS,47.0,232.0,9,0.0,0.0,1.277778,1.254621,1.000000,0.894427,12.703704,11.000000,9.000000,18.111110,-5.111111,-11.111111,16.222221,18.111110,0.500966,1.875362
4,GRASS,97.0,186.0,9,0.0,0.0,1.166667,0.691215,1.166667,1.005540,15.592592,13.888889,11.777778,21.111110,-5.111111,-11.444445,16.555555,21.111110,0.442661,1.863654

In [29]:
test_set = test_set.dropna()

In [30]:
data_set.shape

(207, 20)

In [31]:
shape_view = data_set.iloc[:,0:9].copy()

In [32]:
rgb_view = data_set.iloc[:,9:19].copy()

In [33]:
shape_view.head()

,y,REGION-CENTROID-COL,REGION-CENTROID-ROW,REGION-PIXEL-COUNT,SHORT-LINE-DENSITY-5,SHORT-LINE-DENSITY-2,VEDGE-MEAN,VEDGE-SD,HEDGE-MEAN
0,BRICKFACE,140.0,125.0,9.0,0.0,0.0,0.277778,0.062963,0.666667
1,BRICKFACE,188.0,133.0,9.0,0.0,0.0,0.333333,0.266667,0.500000
2,BRICKFACE,105.0,139.0,9.0,0.0,0.0,0.277778,0.107407,0.833333
3,BRICKFACE,34.0,137.0,9.0,0.0,0.0,0.500000,0.166667,1.111111
4,BRICKFACE,39.0,111.0,9.0,0.0,0.0,0.722222,0.374074,0.888889

In [34]:
rgb_view.head()

,HEDGE-SD,INTENSITY-MEAN,RAWRED-MEAN,RAWBLUE-MEAN,RAWGREEN-MEAN,EXRED-MEAN,EXBLUE-MEAN,EXGREEN-MEAN,VALUE-MEAN,SATURATION-MEAN
0,0.311111,6.185185,7.333334,7.666666,3.555556,3.444444,4.444445,-7.888889,7.777778,0.545635
1,0.077778,6.666666,8.333334,7.777778,3.888889,5.000000,3.333333,-8.333333,8.444445,0.538580
2,0.522222,6.111111,7.555555,7.222222,3.555556,4.333334,3.333333,-7.666666,7.555555,0.532628
3,0.474074,5.851852,7.777778,6.444445,3.333333,5.777778,1.777778,-7.555555,7.777778,0.573633
4,0.429629,6.037037,7.000000,7.666666,3.444444,2.888889,4.888889,-7.777778,7.888889,0.562919

In [37]:
X = data_set.iloc[:,1:].copy()
y = data_set.y.copy()

In [44]:
X_test = test_set.iloc[:,1:].copy()
y_test = test_set.y.copy()

In [40]:
y.head()

0    BRICKFACE
1    BRICKFACE
2    BRICKFACE
3    BRICKFACE
4    BRICKFACE
Name: y, dtype: object

In [35]:
from sklearn.neighbors import KNeighborsClassifier

In [60]:
neigh = KNeighborsClassifier(n_neighbors=2)
neigh.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=2, p=2,
           weights='uniform')

In [61]:
pd.crosstab(neigh.predict(X),y) # s√≥ de teste

y          BRICKFACE  CEMENT  FOLIAGE  GRASS  PATH  SKY  WINDOW
row_0
BRICKFACE         30       2        1      0     0    0       4
CEMENT             0      27        0      0     1    0       0
FOLIAGE            0       0       29      0     0    0       8
GRASS              0       0        0     29     0    0       0
PATH               0       0        0      0    29    0       1
SKY                0       0        0      0     0   29       0
WINDOW             0       0        0      0     0    0      17

In [48]:
pd.crosstab(neigh.predict(X_test),y_test)

y          BRICKFACE  CEMENT  FOLIAGE  GRASS  PATH  SKY  WINDOW
row_0
BRICKFACE        277      18       56      3     0    0      78
CEMENT             2     252       13      9    27    0      13
FOLIAGE           18      14      214      1     0    0      51
GRASS              0       0        0    287     7    0       0
PATH               0       8        0      0   266    0       2
SKY                0       0        0      0     0  300       0
WINDOW             3       8       17      0     0    0     156

In [57]:
from sklearn.metrics import matthews_corrcoef, classification_report, accuracy_score, roc_curve, roc_auc_score

In [59]:
pred_teste = neigh.predict(X_test)
pred_treino = neigh.predict(X)
real_teste = y_test
real_treino = y
print(classification_report(real_treino,pred_treino))
print('MCC treino = {:.3f}, Acuracia treino = {:.3f}'.format(matthews_corrcoef(real_treino,pred_treino),accuracy_score(real_treino,pred_treino)))
print('\n------------------------------\n')
print(classification_report(real_teste,pred_teste))
print('MCC teste = {:.3f}, Acuracia teste = {:.3f}'.format(matthews_corrcoef(real_teste,pred_teste),accuracy_score(real_teste,pred_teste)))

             precision    recall  f1-score   support

  BRICKFACE       0.81      1.00      0.90        30
     CEMENT       0.96      0.93      0.95        29
    FOLIAGE       0.78      0.97      0.87        30
      GRASS       1.00      1.00      1.00        29
       PATH       0.97      0.97      0.97        30
        SKY       1.00      1.00      1.00        29
     WINDOW       1.00      0.57      0.72        30

avg / total       0.93      0.92      0.91       207

MCC treino = 0.907, Acuracia treino = 0.918

------------------------------

             precision    recall  f1-score   support

  BRICKFACE       0.64      0.92      0.76       300
     CEMENT       0.80      0.84      0.82       300
    FOLIAGE       0.72      0.71      0.72       300
      GRASS       0.98      0.96      0.97       300
       PATH       0.96      0.89      0.92       300
        SKY       1.00      1.00      1.00       300
     WINDOW       0.85      0.52      0.64       300

avg / total       0.85      0.83      0.83      2100

MCC teste = 0.810, Acuracia teste = 0.834

In [62]:
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [63]:
pd.crosstab(neigh.predict(X_test),y_test)

y          BRICKFACE  CEMENT  FOLIAGE  GRASS  PATH  SKY  WINDOW
row_0
BRICKFACE        266      29       52      3     0    0      78
CEMENT             0     216        5      5    21    0       8
FOLIAGE           24      16      216      0     0    0      24
GRASS              0       0        0    292     2    0       0
PATH               0      20        0      0   277    0       0
SKY                0       0        0      0     0  300       0
WINDOW            10      19       27      0     0    0     190

In [64]:
pred_teste = neigh.predict(X_test)
pred_treino = neigh.predict(X)
real_teste = y_test
real_treino = y
print(classification_report(real_teste,pred_teste))
print('MCC teste = {:.3f}, Acuracia teste = {:.3f}'.format(matthews_corrcoef(real_teste,pred_teste),accuracy_score(real_teste,pred_teste)))

             precision    recall  f1-score   support

  BRICKFACE       0.62      0.89      0.73       300
     CEMENT       0.85      0.72      0.78       300
    FOLIAGE       0.77      0.72      0.74       300
      GRASS       0.99      0.97      0.98       300
       PATH       0.93      0.92      0.93       300
        SKY       1.00      1.00      1.00       300
     WINDOW       0.77      0.63      0.70       300

avg / total       0.85      0.84      0.84      2100

MCC teste = 0.812, Acuracia teste = 0.837

In [65]:
neigh = KNeighborsClassifier(n_neighbors=4)
neigh.fit(X, y)
pd.crosstab(neigh.predict(X_test),y_test)

y          BRICKFACE  CEMENT  FOLIAGE  GRASS  PATH  SKY  WINDOW
row_0
BRICKFACE        257      24       63      3     0    0      65
CEMENT             0     228        6     11     1    0      17
FOLIAGE           30      20      204      0     0    0      42
GRASS              0       0        0    286    19    0       0
PATH               0      16        0      0   280    0       1
SKY                0       0        0      0     0  300       0
WINDOW            13      12       27      0     0    0     175

In [66]:
pred_teste = neigh.predict(X_test)
pred_treino = neigh.predict(X)
real_teste = y_test
real_treino = y
print(classification_report(real_teste,pred_teste))
print('MCC teste = {:.3f}, Acuracia teste = {:.3f}'.format(matthews_corrcoef(real_teste,pred_teste),accuracy_score(real_teste,pred_teste)))

             precision    recall  f1-score   support

  BRICKFACE       0.62      0.86      0.72       300
     CEMENT       0.87      0.76      0.81       300
    FOLIAGE       0.69      0.68      0.68       300
      GRASS       0.94      0.95      0.95       300
       PATH       0.94      0.93      0.94       300
        SKY       1.00      1.00      1.00       300
     WINDOW       0.77      0.58      0.66       300

avg / total       0.83      0.82      0.82      2100

MCC teste = 0.796, Acuracia teste = 0.824

In [67]:
neigh = KNeighborsClassifier(n_neighbors=5)
neigh.fit(X, y)
pd.crosstab(neigh.predict(X_test),y_test)

y          BRICKFACE  CEMENT  FOLIAGE  GRASS  PATH  SKY  WINDOW
row_0
BRICKFACE        242      24       74      1     0    0      79
CEMENT             0     226        8     11     0    0      21
FOLIAGE           33      19      198      0     0    0      51
GRASS              0       0        0    288    23    0       0
PATH               0      21        0      0   277    0       0
SKY                0       0        0      0     0  300       0
WINDOW            25      10       20      0     0    0     149

In [68]:
pred_teste = neigh.predict(X_test)
pred_treino = neigh.predict(X)
real_teste = y_test
real_treino = y
print(classification_report(real_teste,pred_teste))
print('MCC teste = {:.3f}, Acuracia teste = {:.3f}'.format(matthews_corrcoef(real_teste,pred_teste),accuracy_score(real_teste,pred_teste)))

             precision    recall  f1-score   support

  BRICKFACE       0.58      0.81      0.67       300
     CEMENT       0.85      0.75      0.80       300
    FOLIAGE       0.66      0.66      0.66       300
      GRASS       0.93      0.96      0.94       300
       PATH       0.93      0.92      0.93       300
        SKY       1.00      1.00      1.00       300
     WINDOW       0.73      0.50      0.59       300

avg / total       0.81      0.80      0.80      2100

MCC teste = 0.769, Acuracia teste = 0.800

In [69]:
neigh = KNeighborsClassifier(n_neighbors=6)
neigh.fit(X, y)
pd.crosstab(neigh.predict(X_test),y_test)

y          BRICKFACE  CEMENT  FOLIAGE  GRASS  PATH  SKY  WINDOW
row_0
BRICKFACE        225      31       77      3     0    0      91
CEMENT             0     226        9      9     0    0      17
FOLIAGE           37      17      192      0     0    0      35
GRASS              0       0        0    288    21    0       0
PATH               0      16        0      0   279    0       0
SKY                0       0        0      0     0  300       0
WINDOW            38      10       22      0     0    0     157

In [70]:
pred_teste = neigh.predict(X_test)
pred_treino = neigh.predict(X)
real_teste = y_test
real_treino = y
print(classification_report(real_teste,pred_teste))
print('MCC teste = {:.3f}, Acuracia teste = {:.3f}'.format(matthews_corrcoef(real_teste,pred_teste),accuracy_score(real_teste,pred_teste)))

             precision    recall  f1-score   support

  BRICKFACE       0.53      0.75      0.62       300
     CEMENT       0.87      0.75      0.81       300
    FOLIAGE       0.68      0.64      0.66       300
      GRASS       0.93      0.96      0.95       300
       PATH       0.95      0.93      0.94       300
        SKY       1.00      1.00      1.00       300
     WINDOW       0.69      0.52      0.60       300

avg / total       0.81      0.79      0.80      2100

MCC teste = 0.762, Acuracia teste = 0.794

In [71]:
neigh = KNeighborsClassifier(n_neighbors=7)
neigh.fit(X, y)
pd.crosstab(neigh.predict(X_test),y_test)

y          BRICKFACE  CEMENT  FOLIAGE  GRASS  PATH  SKY  WINDOW
row_0
BRICKFACE        227      30       78      3     0    0      71
CEMENT             0     228        8      7     0    0      21
FOLIAGE           39      15      191      0     0    0      56
GRASS              0       0        0    290    22    0       0
PATH               0      19        0      0   278    0       0
SKY                0       0        0      0     0  300       0
WINDOW            34       8       23      0     0    0     152

In [72]:
pred_teste = neigh.predict(X_test)
pred_treino = neigh.predict(X)
real_teste = y_test
real_treino = y
print(classification_report(real_teste,pred_teste))
print('MCC teste = {:.3f}, Acuracia teste = {:.3f}'.format(matthews_corrcoef(real_teste,pred_teste),accuracy_score(real_teste,pred_teste)))

             precision    recall  f1-score   support

  BRICKFACE       0.56      0.76      0.64       300
     CEMENT       0.86      0.76      0.81       300
    FOLIAGE       0.63      0.64      0.64       300
      GRASS       0.93      0.97      0.95       300
       PATH       0.94      0.93      0.93       300
        SKY       1.00      1.00      1.00       300
     WINDOW       0.70      0.51      0.59       300

avg / total       0.80      0.79      0.79      2100

MCC teste = 0.761, Acuracia teste = 0.793

In [73]:
from sklearn.naive_bayes import GaussianNB

In [76]:
clf1 = GaussianNB()
clf1.fit(X, y)

GaussianNB(priors=None)

In [77]:
clf2 = KNeighborsClassifier(n_neighbors=3)
clf2.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=3, p=2,
           weights='uniform')

In [78]:
from sklearn.ensemble import VotingClassifier

W:\softwares\anaconda\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [80]:
eclf = VotingClassifier(estimators=[('knn', clf1), ('gnb', clf2)], voting='hard')

In [82]:
from sklearn.model_selection import cross_val_score

In [83]:
for clf, label in zip([clf1, clf2, eclf], ['k-nearest neighbors','Gaussian Naive Bayes', 'Ensemble']):
    scores = cross_val_score(clf, X, y, cv=5, scoring='accuracy')
    print("Accuracy: %0.2f (+/- %0.2f) [%s]" % (scores.mean(), scores.std(), label))

Accuracy: 0.77 (+/- 0.05) [k-nearest neighbors]
Accuracy: 0.76 (+/- 0.03) [Gaussian Naive Bayes]
Accuracy: 0.77 (+/- 0.04) [Ensemble]

W:\softwares\anaconda\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
W:\softwares\anaconda\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
W:\softwares\anaconda\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
W:\softwares\anaconda\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
W:\softwares\anaconda\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff: