# Pré-processamento do data base *Video Game Sales with Ratings*

### 1. Imports necessários

In [6]:
import numpy as np
import scipy as sp
import pandas as pd

### 2. Download da base de dados

In [7]:
data_set = pd.read_csv('data/Video_Games_Sales_as_at_22_Dec_2016.csv')

In [8]:
print(data_set.shape)
data_set.head()

(16719, 16)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

Verificando tipo das colunas

In [9]:
data_set.dtypes

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
dtype: object

### 3. Tratamento de dados ausentes

In [10]:
data_set.isnull().sum()

Name                  2
Platform              0
Year_of_Release     269
Genre                 2
Publisher            54
NA_Sales              0
EU_Sales              0
JP_Sales              0
Other_Sales           0
Global_Sales          0
Critic_Score       8582
Critic_Count       8582
User_Score         6704
User_Count         9129
Developer          6623
Rating             6769
dtype: int64

Remove as 2 linhas sem nome e sem genero

In [63]:
data_set.dropna(subset=['Name','Genre'],inplace=True)

In [64]:
data_set.Year_of_Release = data_set.Year_of_Release.astype('int')

In [98]:
critic_set = data_set.dropna(subset=['Critic_Score'])
user_set = data_set.dropna(subset=['User_Score'])

Prenche valores vazios

In [99]:
critic_set.fillna({'Critic_Score':0, 'Critic_Count':0, 'User_Score':0,\
                 'User_Count':0, 'Developer':'not reported',\
                 'Rating':'not reported', 'Publisher':'not reported', 'Year_of_Release':0}, inplace=True)
user_set.fillna({'Critic_Score':0, 'Critic_Count':0, 'User_Score':0,\
                 'User_Count':0, 'Developer':'not reported',\
                 'Rating':'not reported', 'Publisher':'not reported', 'Year_of_Release':0}, inplace=True)

### 4. Análise exploratória

In [14]:
data_set.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16717.000000,16717.000000,16717.000000,16717.000000,16717.000000,16717.000000,16717.000000,16717.000000,16717.000000
mean,1974.201771,0.263255,0.145010,0.077610,0.047333,0.533462,33.570019,12.831130,73.657056
std,252.545637,0.813475,0.503303,0.308836,0.186721,1.547956,35.817975,18.680383,386.717446
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,0.000000,0.000000,0.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,0.000000,0.000000,0.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,70.000000,21.000000,20.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000

### 5. Dicretização das variveis alvo

In [100]:
critic_set.Critic_Score = pd.cut(critic_set.Critic_Score, 2, labels=["good", "bad"])
critic_set.dtypes

Name                 object
Platform             object
Year_of_Release       int32
Genre                object
Publisher            object
NA_Sales            float64
EU_Sales            float64
JP_Sales            float64
Other_Sales         float64
Global_Sales        float64
Critic_Score       category
Critic_Count        float64
User_Score           object
User_Count          float64
Developer            object
Rating               object
dtype: object

In [101]:
user_set = user_set.drop(user_set[user_set.User_Score == 'tbd'].index)

In [102]:
user_set.User_Score = pd.to_numeric(user_set.User_Score)
user_set.User_Score = pd.cut(user_set.User_Score, 2, labels=["good", "bad"])
user_set.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,bad,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.0,0.0,good,0.0,not reported,not reported
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,bad,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,bad,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.0,0.0,good,0.0,not reported,not reported

### 6. Divisão do dataset (k-fold)

In [15]:
from sklearn.model_selection import KFold

#### O foco da analise será em relação ao score da crítica

In [56]:
y_critic = data_set.loc[:, data_set.columns == 'Rating'].copy()
X_critic = data_set.loc[:, data_set.columns != 'Rating'].copy()

In [34]:
print(y.shape)
print(X.shape)

(16717, 1)
(16717, 15)

Inicia o K-fold com 10 folds

In [57]:
X = X.values
y = y.values

In [53]:
kf = KFold(n_splits=10)
kf.get_n_splits(X)

print(kf)

KFold(n_splits=10, random_state=None, shuffle=False)

A cada loop é selecionado um fold

In [54]:
for train_index, test_index in kf.split(X):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]

TRAIN: [ 1672  1673  1674 ... 16714 16715 16716] TEST: [   0    1    2 ... 1669 1670 1671]
TRAIN: [    0     1     2 ... 16714 16715 16716] TEST: [1672 1673 1674 ... 3341 3342 3343]
TRAIN: [    0     1     2 ... 16714 16715 16716] TEST: [3344 3345 3346 ... 5013 5014 5015]
TRAIN: [    0     1     2 ... 16714 16715 16716] TEST: [5016 5017 5018 ... 6685 6686 6687]
TRAIN: [    0     1     2 ... 16714 16715 16716] TEST: [6688 6689 6690 ... 8357 8358 8359]
TRAIN: [    0     1     2 ... 16714 16715 16716] TEST: [ 8360  8361  8362 ... 10029 10030 10031]
TRAIN: [    0     1     2 ... 16714 16715 16716] TEST: [10032 10033 10034 ... 11701 11702 11703]
TRAIN: [    0     1     2 ... 16714 16715 16716] TEST: [11704 11705 11706 ... 13372 13373 13374]
TRAIN: [    0     1     2 ... 16714 16715 16716] TEST: [13375 13376 13377 ... 15043 15044 15045]
TRAIN: [    0     1     2 ... 15043 15044 15045] TEST: [15046 15047 15048 ... 16714 16715 16716]

In [61]:
data_set.User_Score.value_counts()

0      6702
tbd    2425
7.8     324
8       290
8.2     282
8.3     254
8.5     253
7.5     251
7.9     249
8.1     244
7.7     240
7.3     236
8.4     223
7.6     220
7       220
7.4     215
8.6     211
6.8     197
8.7     188
8.8     186
7.1     180
7.2     167
8.9     153
6.6     148
6.9     143
6.3     138
6.7     128
6       127
6.5     125
9       120
       ...
2.5      12
2.4      11
2        11
9.4      11
2.9       9
2.1       9
1.7       9
2.7       8
9.5       6
2.2       6
1.8       6
1.4       5
2.6       4
1.2       3
1.6       3
0.3       2
0.6       2
0.9       2
1.9       2
9.6       2
1.5       2
2.3       2
1.3       2
1         2
1.1       2
0.7       2
0.5       2
0.2       2
0         1
9.7       1
Name: User_Score, Length: 97, dtype: int64