# Pré-processamento do data base *Video Game Sales with Ratings*

### 1. Imports necessários

In [1]:
import numpy as np
import scipy as sp
import pandas as pd

### 2. Download da base de dados

In [3]:
data_set = pd.read_csv('data/')

In [22]:
print(data_set.shape)
data_set.head()

(16717, 16)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,0.0,0.0,0,0.0,not reported,not reported
2,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,0.0,0.0,0,0.0,not reported,not reported

Verificando tipo das colunas

In [17]:
data_set.dtypes

Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
dtype: object

### 3. Tratamento de dados ausentes

In [21]:
data_set.isnull().sum()

Name               0
Platform           0
Year_of_Release    0
Genre              0
Publisher          0
NA_Sales           0
EU_Sales           0
JP_Sales           0
Other_Sales        0
Global_Sales       0
Critic_Score       0
Critic_Count       0
User_Score         0
User_Count         0
Developer          0
Rating             0
dtype: int64

Remove as 2 linhas sem nome e sem genero

In [10]:
data_set.dropna(subset=['Name','Genre'],inplace=True)

Prenche valores vazios

In [18]:
data_set.fillna({'Critic_Score':0, 'Critic_Count':0, 'User_Score':0,\
                 'User_Count':0, 'Developer':'not reported',\
                 'Rating':'not reported', 'Publisher':'not reported', 'Year_of_Release':0}, inplace=True)

In [20]:
data_set.Year_of_Release = data_set.Year_of_Release.astype('int')

### 4. Análise exploratória

In [24]:
data_set.describe()

,Year_of_Release,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Count
count,16717.000000,16717.000000,16717.000000,16717.000000,16717.000000,16717.000000,16717.000000,16717.000000,16717.000000
mean,1974.201771,0.263255,0.145010,0.077610,0.047333,0.533462,33.570019,12.831130,73.657056
std,252.545637,0.813475,0.503303,0.308836,0.186721,1.547956,35.817975,18.680383,386.717446
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000
25%,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000,0.000000,0.000000,0.000000
50%,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000,0.000000,0.000000,0.000000
75%,2010.000000,0.240000,0.110000,0.040000,0.030000,0.470000,70.000000,21.000000,20.000000
max,2020.000000,41.360000,28.960000,10.220000,10.570000,82.530000,98.000000,113.000000,10665.000000